.noScroll {
  overflow: hidden;
}

.campersList {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 50px;
}

.camper {
  padding: 24px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  display: flex;
  gap: 24px;
}

.camperContent {
  width: 526px;
}

.camperImg {
  width: 290px;
  height: 310px;
  border-radius: 10px;
  object-fit: cover;
  object-position: 75%;
}

.camperHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;

  font-size: 24px;
  line-height: 125%;
  font-weight: 600;
  color: var(--main);
}

.camperPriceContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.favButton {
  background-color: transparent;
}

.camperRatingAndLocation {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}

.camperRatingContainer {
  composes: camperPriceContainer;
  gap: 0;
}

.camperRating {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.camperLocationContainer {
  composes: camperPriceContainer;
  gap: 4px;
}

.camperDescription {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin-bottom: 24px;
}

.camperDetailsList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.camperDetail {
  display: flex;
  gap: 8px;
  padding: 12px 18px;
  border-radius: 100px;
  background: var(--block-features);
}

.camperDetailText {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--main);
}

.showMoreButton {
  background: var(--button);
  border-radius: 200px;
  padding: 16px 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #fff;

  transition: 0.125s ease-in-out;
}

.showMoreButton:hover,
.showMoreButton:active {
  background: #d84343;
}
