.container {
  max-width: 888px;
  padding: 100px 0;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 24px;
}

.loadMoreButton {
  display: block;
  border: 1px solid rgba(71, 84, 103, 0.2);
  background: transparent;
  border-radius: 200px;
  padding: 16px 32px;
  width: fit-content;
  margin: 0 auto;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--main);
  transition: 0.125s ease-in-out;
}

.loadMoreButton:hover,
.loadMoreButton:active {
  border: 1px solid var(--button);
}
